
#book-info{

    padding-top: 4rem;

    display: grid;

    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 700px  350px;

    justify-content: space-between;
    // height: 700px;
    //overflow: hidden;

    grid-template-areas:
    "heading  img-container"
    "author  img-container"
    "stars  img-container"
    "about-book  img-container"
    "related-categories  img-container"
    "info img-container";


    @include xl{
        grid-template-rows:  auto auto auto auto auto auto auto;
        grid-template-columns: 100%;

        justify-content: space-between;
        // height: 700px;

        grid-template-areas:
         "img-container"
         "heading"
         "author"
         "stars"
         "about-book"
         "related-categories"
         "info";
    }

    #div-info-section{
        h2{
            display: none;
        }

        //margin-top: 3rem;
        margin-bottom: 0;
        //padding-bottom: 0;

        grid-area: info;

        #div-info-container{
            p{
                margin-bottom: 0.3rem;
                font-size: size(size-body);

            }

            .heading-info{
                font-size: size(size-small);
                color: var(--gray-text-color);
            }
        }
    }

    #container-div-image-and-price{
        position: sticky;
        top: 50px;
        grid-area: img-container;
        height: fit-content;

        @include xl{
            position: relative;
            top: unset;

            width: 500px;
            justify-self: center;
            margin-bottom: 3rem;
        }


        @include sm{
            width: 100%;
        }

        border: 1px solid var(--category-outline);
        border-radius: 3px;
        background-color: var(--gray-bg-color);

        #container-div-img{
            display: grid;
            justify-content: center;
            align-items: end;
            height: 440px;

            //background-color: ;
        }

        #price-container{
            padding: 1rem;


            display:  grid;
            grid-auto-flow: column;
            justify-content: space-between;
            align-items: center;

            font-size: size(size-h3);
            color: var(--text-color-heading);
            p{
                font-weight: 600;
            }

            i{
                &:hover{
                    cursor: pointer;
                    color: var(--text-color-geen);
                }
            }
        }

        img{
            height: 400px;

            // @include sm{
            //     width: 300px;
            // }
        }
    }

    #text-container-about{
        grid-area: about-book;
        margin-bottom: 3rem;

        h2{
            color: var(--text-color-heading);
            font-family: $font2;
            margin-bottom: 1.5rem;
            font-size: size(size-h3);
        }

        p{
            font-size: size(size-body);
            margin-bottom: 1rem;
            color: var(--text-color-regular);
        }
    }
    h1{
        grid-area: heading;
        font-family: $font2;
        font-size: size(size-h1);
        color:var(--text-color-heading);
        margin-bottom: 1rem;

    }

    #writer-link{
        grid-area: author;

        font-size: size(size-body);
        color: var(--text-color-regular);

        margin-bottom: 2rem;

        a{
            font-weight: 600;
            text-decoration: underline;
            color: var(--text-color-heading);
        }
    }

    #related-categories-container{
        grid-area: related-categories;
        position: relative;


    }



    #stars{
        grid-area: stars;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        align-items: center;

        margin-bottom: 3rem;

        i{
            color: var(--star-orange);
        }

        p{
            font-size: size(size-body);
            margin-left: 1rem;
            color: var(--text-color-regular);

            span{
                color: var(--text-color-heading);
            }
        }

    }

    #book-related-categories-section{
        grid-area: about-book;
    }


}

.article-info-container{
    grid-auto-columns: 220px;
    gap: 20px;
}

#related-books{
    margin-top: 5rem;
}

.dark-mode{
    #div-info-section{
        border-bottom: 1px solid var(--gray-text-color);
    }
}

#div-info-section{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--category-outline);

    p{
        color: var(--text-color-heading);
    }
}

#review-section{

    margin-top: 8rem;
    margin-bottom: 5rem;


    h2{
        font-family: $font2;
        color: var(--text-color-heading);
        margin-bottom: 1.5rem;
    }

    #review-stars-container{
        font-size: size(size-body);
        i{
            color: var(--star-orange);
        }

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        align-items: center;

        margin-bottom: 0.5rem;

        p{
            margin-left: 1rem;
            color: var(--gray-text-color);
            font-weight: 600;
        }
    }

    #review-info{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;

        p{
            margin-right: 1rem;
            font-size: size(size-small);
            font-weight: 500;
            color: var(--gray-text-color);
        }
    }
}

#comments-container-div{
    padding-top: 5rem;

}

.article-comment{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "user-info comment";


    @include md{
        grid-template-columns:  1fr;
        grid-template-rows: auto;
        grid-template-areas: "user-info"
                             "comment";
    }

    padding-top: 3rem;
    padding-bottom: 3rem;

    border-bottom: 1px solid var(--category-outline);
}

.dark-mode{
    .article-comment{
        border-bottom: 1px solid var(--gray-text-color);
    }
}

.comment-user-info-container{
    grid-area: user-info;

    @include md{
        margin-bottom: 1rem;
    }

    .avatar-and-name-container{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        grid-template-rows: auto;
        align-items: center;

        img{
            height: 70px;
            border-radius: 50%;
            margin-right: 0.3rem;
        }

        p{
            font-size: size(size-body);
            font-weight: 600;
            color: var(--text-color-heading);
        }
    }

    .comments-stars{
        margin-top: 0.5rem;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        align-items: center;

        i{
            color: var(--star-orange);
        }

        p{
            margin-left: 0.3rem;
            color: var(--gray-text-color);
        }
    }
}

.comment-text{
    //padding-top: 1rem;
    p{
        color: var(--text-color-regular);
        margin-bottom: 1rem;
        white-space: pre-wrap;
    }
}

.comment-pictures-container{
    display: flex;
    flex-wrap: wrap;

    img{
        height: 250px;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

#star-rating-form{
    margin: 0 auto;

    margin-bottom: 5rem;
    width: 800px;
    height: auto;
    padding: 0 0.5rem;


    @include lg-940{
        width: 100%;
    }

    h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
        color: var(--text-color-heading);
    }


    .server-messages{
        text-align: center;
        padding-top: 1rem;
    }
}

.star-raiting-container{
    display: flex;
    flex-direction: row;
    //padding-left: 1rem;
    justify-content: center;

    div{
        margin-right: 1rem;

        border-radius: 3px;
        background-color: var(--gray-bg-color);
        outline: 1px solid var(--category-outline);
        font-size: 1.75rem;
        padding: 0.3rem;
        color: var(--star-orange);

        &:hover{
            cursor: pointer;
            outline: 2px solid var(--category-outline-hover);
            background-color: var(--gray-bg-color-hover);

        }
    }
}

.dark-mode .star-raiting-container div{
    &:hover{
        outline: 2px solid var(--background-color-hover-const)
    }
}

#comment-container{
    margin-bottom: 1rem;
}

#form-comment{
    .p-title{
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
        font-weight: 500;
        color: var(--text-color-heading);
    }

    #comment-images-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        input{
            margin-bottom: 0.3rem;
        }
    }
}
